.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1201px;
  max-height: 3.188rem;
  margin: 0 auto;
  &__img {
    margin: 1rem 0;
  }
  &__items {
    display: flex;
  }
  &__list-items {
    padding: 0;
    list-style-type: none;
    height: 100%;
  }
  &__item {
    display: inline;
    margin: 1rem;
  }
  &__btn {
    display: inline;
    background-color: #46b0e6;
    color: #fff;
    width: 9.375rem;
    height: 3.188rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2.5rem;
    border: 1px solid #46b0e6;
  }
  &__btn-text {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.188rem;
  }
}
