.slider {
    max-width: 1201px;
    max-height: 282.07px;
    margin: 0 auto;
    padding: 30px 0;
    &__heading-container {
        max-width: 441px;
        height: 108.07px;
        margin: 0 auto;
    }
    &__heading {
        margin: 0;
        text-align: center;
        font-size: 36px;
        font-weight: 800;
        line-height: 43.57px;
    }
    &__detail {
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        line-height: 19.36px;
        color: #515151;
    }
    &__carousel {
        display: flex;
        align-items: center;
        max-width: 1000px;
        height: 150px;
        margin: 0 auto;
    }
    &__chevron-left {
        cursor: pointer;
        content: url('../../assets/svg/chevron-left.svg');
        width: 24px;
        height: 24px;
    }
    &__brands {
        // position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
        overflow-x: hidden;
    }
    &__brand-microsoft {
        display: flex;
        width: 30%;
        align-items: center;
        justify-content: space-around;
    }
    &__window-boxes {
        display: grid;
        grid-template-columns: auto auto;
    }
    &__chevron-right {
        cursor: pointer;
        content: url('../../assets/svg/chevron-right.svg');
        width: 24px;
        height: 24px;
    }
    &__top-left {
        content: url('../../assets/svg/square.svg');
        width: 26.64px;
        height: 26.64px;
    }
    &__top-right {
        content: url('../../assets/svg/square.svg');
        width: 26.64px;
        height: 26.64px;
    }
    &__bottom-left {
        content: url('../../assets/svg/square.svg');
        width: 26.64px;
        height: 26.64px;
    }
    &__bottom-right {
        content: url('../../assets/svg/square.svg');
        width: 26.64px;
        height: 26.64px;
    }
    &__microsoft-title {
        content: url('../../assets/svg/microsoft.svg');
    }
    &__brand-twitter {
        content: url('../../assets/svg/twitter.svg');
        width: 88px;
        height: 72px;
    }
    &__brand-cocacola {
        order: 1;
        content: url('../../assets/svg/coca-cola.svg');
    }
}