$extra-small-devices: 600px;
$medium-devices: 768px;
$large-devices: 992px;
$extra-large-devices: 1200px;

@mixin extra-small-devices {
  @media (max-width: #{$extra-small-devices}) {
    @content;
  }
}

.registration {
  display: flex;
  max-width: 1201px;
  max-height: 631px;
  margin: 0 auto;
  padding: 30px 0;

  @include extra-small-devices {
    justify-content: center;
    width: 90%;
  }

  &__img {
    width: 489px;
    height: 489px;
    background-image: url("../../assets/tech_img.png");
    background-size: contain;
    transform: scaleX(-1);

    @include extra-small-devices {
      display: none;
    }
  }
  &__card {
    flex-direction: column;
    width: 575px;
    height: auto;
    padding: 48px;
    box-shadow: 0px 34px 44px -20px #b9ceea40;

    @include extra-small-devices {
      align-items: center;
      width: unset;
    }
  }
  &__heading-block {
    width: 441px;
    height: 106px;
    margin-bottom: 48px;
  }
  &__heading {
    margin: 0;
  }
  &__lorem {
    color: #515151;
    font-size: 1rem;
    font-weight: 500;
    line-height: 19.36px;
  }
  &__form {
    width: 479px;

    @include extra-small-devices {
      width: 90%;
    }
  }
  &__field {
    width: 100%;
    margin-bottom: 8px;
  }
  &__field-label {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 19.36px;
    margin-bottom: 10px;
    > span {
      color: #eb5939;
    }
  }
  &__field-input {
    width: 100%;
    background-color: #f9faff;
    border: 1px solid #dee6ff;
    border-radius: 5px;
    padding: 1rem;
    color: #aaaaaa;
    line-height: 19.36px;
    font-weight: 500;
  }
  &__field-input--error {
    border: 1px solid red;
    width: 100%;
    background-color: #f9faff;
    border-radius: 5px;
    padding: 1rem;
    color: #aaaaaa;
    line-height: 19.36px;
    font-weight: 500;
  }
  &__field-error {
    display: none;
  }
  &__field-error--active {
    display: inline-block;
    color: red;
    font-size: 0.75rem;
  }
  &__button {
    cursor: pointer;
    background-color: #f89d21;
    width: 200px;
    height: 51px;
    border-radius: 40px;
    border: 1px solid #f89d21;
    padding: 16px 32px 16px 32px;
    margin: 10px 0;
    box-shadow: 0px 10px 34px 0px #f89d2180;
  }
  &__button-text {
    font-size: 1rem;
    font-weight: 700;
    line-height: 19.36px;
    color: #fff;
  }
}
